doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="./css/style.css")
        link(rel="stylesheet", href="./css/reset.css")
    body 
        .container 
            header.header 
                p.logo 
                ul.nav
                    li.nav-item
                        a.nav-link(href="") Home
                    li.nav-item 
                        a.nav-link(href="") Work
                    li.nav-item 
                        a.nav-link(href="") Contact 

            .name
                .name-desc-wrap
                    h1.name-title  Hi, I am Your Name A Product Designer based in City.
                    p.name-dsc I help businesses and companies reach their goals by designing user-centric digital products & interactive experiences.
                    button.btn hi@yourname.com

                .img-wrap
                    img.name-img(src=".face.png", alt="")
            
            .featured-work
                .featured-img-wrap 
                    .inversion-wrap
                        img.featured-img(src="", alt="")
                        p.inversion-wrap InVersion
                    img.featured-img(src="", alt="")
                    img.featured-img(src="", alt="")
                    img.featured-img(src="", alt="")
                

            .visual-explo 
                img.explo-img(src="", alt="")
                img.explo-img(src="", alt="")
                img.explo-img(src="", alt="")
                img.explo-img(src="", alt="")
                img.explo-img(src="", alt="")
                img.explo-img(src="", alt="")

            .personal-projects 
                img.explo-img(src="", alt="")
                img.explo-img(src="", alt="")
                img.explo-img(src="", alt="")

            .contact-me 
                .contact-desc-wrap
                    h2.contact-title Contact Me
                    p.coctact-p If you are looking to hire a product designer, I’m currently available for freelance work
                    button.btn-contact hi@yourname.com

            footer.footer 
                p.footer-p 
                span.footer-span 
                p.footer-p 

                ul.footer-link-list
                    li.footer-list
                        a.footer-link(href="#") 
                    li.footer-list 
                        a.footer-link(href="#") 
                    li.footer-list 
                        a.footer-link(href="#") 
                    li.footer-list 
                        a.footer-link(href="#") 
                    li.footer-list 
                        a.footer-link(href="#") 
                        img(src="", alt="")
                




    