doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="./css/style.css")
        link(rel="stylesheet", href="./css/reset.css")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    body 
        .container 
            header.header 
                p.logo Logo Here
                ul.nav
                    li.nav-item
                        a.nav-link(href="") Home
                    li.nav-item 
                        a.nav-link(href="") Work
                    li.nav-item 
                        a.nav-link(href="") Contact 

            .name
                .name-desc-wrap
                    h1.name-title  Hi, I am Your Name A Product Designer based in City.
                    p.name-dsc I help businesses and companies reach their goals by designing user-centric digital products & interactive experiences.
                    button.btn hi@yourname.com
            
            .featured-work
                p.work-desc Featured Work
                .featured-img-wrap 
                    .inversion-wrap
                        img.featured-img(src="./phone.png", alt="")
                        img.featured-img(src="./apple.png", alt="")
                        img.featured-img(src="./asian.png", alt="")
                        img.featured-img(src="./xd.png", alt="")
                        
            .visual
                h2.visual-title Visual Explorations
                .visual-explo 
                    img.explon-img(src="./img2.png", alt="")
                    img.explon-img(src="./img3.png", alt="")
                    img.explon-img(src="./img5.png", alt="")
                    img.explon-img(src="./img4.png", alt="")
                    img.explon-img(src="./img1.png", alt="")
                    img.explon-img(src="./img6.png", alt="")

            .project 
                h3.personal-title Personal Projects
                .personal-projects 
                    img.explo-img(src="./tiktok.png", alt="")
                    img.explo-img(src="./man.png", alt="")
                    img.explo-img(src="./hand.png", alt="")

            .contact-me 
                .contact-desc-wrap
                    h2.contact-title Contact Me
                    p.coctact-p If you are looking to hire a product designer,  I’m currently available for freelance work
                    button.btn-contact hi@yourname.com

            .footer-line 

            footer.footer 
                .footer-div 
                    p.footer-p Made by
                    span.footer-span YourName 
                    p.footer-p --Copyright2021

                ul.footer-link-list 
                    li.footer-list
                        a.social-list-link( href="")
                            img.social-img(src="./Vector (1).png", alt="")
                           
            
                    li.footer-list 
                         a.social-list-link( href="")
                            img.social-img(src="./Vector (2).png", alt="")
                           
                    li.footer-list 
                         a.social-list-link( href="")
                            img.social-img(src="./Vector (3).png", alt="")
                         
                    li.footer-list 
                         a.social-list-link( href="")
                            img.social-img(src="./Vector (4).png", alt="")
                            
                    li.footer-list 
                         a.social-list-link( href="")
                            img.social-img(src="./Vector (5).png", alt="")
                            



    